html, body {
    margin : 0;
    padding: 0;
    font-family: Consolas;
    text-transform: uppercase;
    font-size: 14px;
}


/**
    Header
 */
header {
    padding-top: 10px;
    text-align: center;
    margin: 0 auto;
}
header p {
    margin: 0;
    padding: 0;
}

/**
    Container
 */
.container {
    padding: 15px;
    text-align: center;
}

/**
    Message
 */
.message {
    border: 1px solid #ccc;
    padding: 5px;
    width: 600px;
    background: #f1f1f1;
    margin: 0 auto;
}
.message p strong {
    color: red;
}
.message p {
    margin :0;
}
.message p.highlight {
    margin-top: 5px;
    background: yellow;
}

/**
    Form
 */
.image-uploader {
    margin: 0 auto;
    margin-top: 100px;
    border: 1px solid #ccc;
    width: 600px;
}
.image-uploader > p {
    line-height: 3em;
    border-bottom: 1px solid black;
}

.form-group {
    margin: 20px;
    padding-left: 10px;
    text-align: left;
}


.optional, .hidden {
    display: none;
}

/**
    Validation
 */
.validation {
    background: red;
    color: white;
    margin: 5px;
    padding: 1px;
}
